.ebin {
  color: blue;
}

.breadcrumb-container {
  padding: 10px 0px;
}

#breadcrumb {
  font-size: 20px;
  color: #800;
  text-decoration: none;
  text-transform: capitalize;
}

#breadcrumb:hover {
  color: red;
}
